body {
    font-family: 'Montserrat', sans-serif;
    background-color: #e5e5e5;
    padding: 40px;
    
}
/*About me*/
h2 {
    font-size: 35px;
}

/*.project-item {
    background-color: yellow;
}*/

.Wrapper {
    display: flex;
    position: relative;
    flex-direction: row-reverse;
   /*justify-content: space-around;
    flex-wrap: wrap;*/
    background: #ffffff;
    /*width: 100%;
    max-width: 1200px;*/

}

/*.Left {
    display: flex;
    position: absolute;
    width: 370px;
    height: 1319px;
    left: 40px;
    top: 40px;
    
    background: #E0EBFE;
    border-radius: 0px;    
}

.Portrait {
    position: absolute;
    width: 370px;
    height: 354px;
    left: 0px;
    top: 80px;
    
    background: #B1CCFF;
}

.face {
    width: 100%;
}

.Contact {
    position: absolute;
    width: 191px;
    height: 83px;
    left: 80px;
    top: 485px;    
}

.Tech_Skills {
    position: absolute;
    width: 121px;
    height: 203px;
    left: 80px;
    top: 615px;    
}

.Soft_Skills {
    position: absolute;
    width: 113px;
    height: 131px;
    left: 80px;
    top: 862px;    
}*/
/*maim-content*/
.maim-content {
    /*display: flex;
    position: absolute;*/
    padding: 88;
    /*width: 830px;
    height: 1319px;
    left: 458px;
    top: 40px;*/
}

/*.my-profession {
    position: absolute;
    width: 525px;
    height: 206px;
    left: 88px;
    top: 142px;    
}*/

/*.projects {
    position: absolute;
    width: 525px;
    height: 107px;
    left: 88px;
    top: 412px;    
}

.Freelance {
    position: absolute;
    width: 525px;
    height: 213px;
    left: 88px;
    top: 570px;    
}

.Banderogusak {
    position: absolute;
    width: 525px;
    height: 150px;
    left: 88px;
    top: 799px;
}

.BestUA {
    position: absolute;
    width: 525px;
    height: 126px;
    left: 88px;
    top: 969px;    
}

.Education {
    position: absolute;
    width: 298px;
    height: 114px;
    left: 88px;
    top: 1138px;
}*/